{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
    <div class="profile-container">
        <h1>Mon Profil</h1>

        <div class="profile-card">
          


            {{ include('user/_profil_form1.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('home') }}" class="button">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
